**/target
*.csproj
*.sln
*.user
*.iml
*.idea
tmp/
Roguelike/.idea/
Roguelike/Library/
Roguelike/target/
Roguelike/Temp/
Roguelike/obj/
Roguelike/Out/

Roguelike/Assets/Plugins/*
Roguelike/Assets/Plugins.meta

Roguelike/Assets/Plugins/Android/Firebase
Roguelike/Assets/Plugins/Android/Firebase.meta
Roguelike/Assets/Plugins/Android/FirebaseApp.androidlib.meta
Roguelike/Assets/Plugins/Android/FirebaseCrashlytics.androidlib.meta
Roguelike/Assets/Plugins/Android/FirebaseApp.androidlib/
Roguelike/Assets/Plugins/Android/FirebaseCrashlytics.androidlib/


!Roguelike/Assets/Plugins/Android/AndroidManifest.xml
!Roguelike/Assets/Plugins/Android/AndroidManifest.meta

!Roguelike/Assets/Plugins/Android/gradleTemplate.properties
!Roguelike/Assets/Plugins/Android/gradleTemplate.properties.meta

Roguelike/ProjectSettings/AndroidResolverDependencies.xml
Roguelike/ProjectSettings/GooglePlayGameSettings.txt

Roguelike/AndroidBuild/
Roguelike/AndroidBuild.meta

Roguelike/Assets/PlayServicesResolver/
Roguelike/Assets/PlayServicesResolver.meta
Roguelike/Assets/GoogleMobileAds/
Roguelike/Assets/GoogleMobileAds.meta
Roguelike/Assets/JsonDotNet.meta
Roguelike/Assets/JsonDotNet/
Roguelike/Assets/GooglePlayGames/
Roguelike/Assets/GooglePlayGames.meta
Roguelike/Assets/FacebookSDK/
Roguelike/Assets/FacebookSDK.meta

Roguelike/Assets/MoPub/
Roguelike/Assets/MoPub.meta

Roguelike/Assets/PreciseLocale/
Roguelike/Assets/PreciseLocale.meta

Roguelike/Assets/StreamingAssets/
Roguelike/Assets/iOSKeychainPlugin.meta
Roguelike/Assets/iOSKeychainPlugin/
config/config/windows_override.ini
Roguelike/Logs/
Roguelike/Logs/ApiUpdaterCheck.txt
Roguelike/Assets/AndroidVk/
Roguelike/Assets/AuthUnityRoguelikeApi/
Roguelike/Assets/GoogleSignIn/



